 <div id="wrapper">
      <div class="container-fluid">
       <h1 class="text-center titlePage">Articles Scraper</h1>
        <div class='row' id="articles"></div>
      </div>
      <div class='row' id="savedArticles"></div>
      
      <div id="notes"></div>
    </div>