 <div>
      <div class="container-fluid">
       <h1 class="text-center titlePage">Articles Scraper</h1>
        <div class='row' id="articles"></div>
        <div class='row' id="savedArticles"></div>
       

       
      </div> 
     
</div>